{% extends "layout.html" %}
{%block content%}
<div class='scroller_box'>
    
    <h1><strong>Today's Games</strong></h1>
    <button class="collapsible">
        VS
    </button>
    <div class="content">
        <br />
        <ul class='login-menu'>
            <li><a style='font-size: 20px;' href='/about'>New Orleans Saints</a></li>
            <li><a style='font-size: 20px;' href='/about'>Detroit Lions</a></li>
        </ul>
        <br />
        <br />
        <br />
        <br />
    </div>

    <button class="collapsible">
        VS
    </button>
    <div class="content">
        <br />
        <ul class='login-menu'>
            <li><a style='font-size: 20px;' href='/about'>Los Angeles Chargers</a></li>
            <li><a style='font-size: 20px;' href='/about'>Tampa Bay Buccaneers</a></li>
        </ul>
    </div>

    <button class="collapsible">
        VS
    </button>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
    </div>

    <button class="collapsible">
        VS
    </button>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
    <button class="collapsible">Open Collapsible 5</button>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="collapsible">Open Collapsible 6</button>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <button class="collapsible">Open Collapsible 7</button>
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

{%endblock%}
