{% extends "layout.html" %}
{%block content%}
<div class='scroller_box'>
    
    <h1><strong>Today's Games</strong></h1>

    {% for teams,bets in data %}
    <button class="collapsible">
        <ul class='login-menu'>
            {% for team in teams %}
            <li><a style='font-size: 20px;'>{{team}}</a></li>
            {% endfor %}
        </ul>
    </button>
    <div class="content">
        <p style="text-align:center;font-size:20px;">Betting Odds</p>
        <ul style='text-align:center;margin-left:-40px;'>
            {% for bet in bets %}
            <li style='display: block;'><a style='font-size: 20px;'>{{bet}}</a></li>
            {% endfor %}
        </ul>
        <input style='position:relative;left:30%;bottom:-14px;width:40%;' type="redirect" value="Add to my list" onClick="" />
    </div>
    {% endfor %}

</div>
{%endblock%}
