{% extends "layout.html" %}
{%block content%}
<div class='scroller_box'>
    <h1 style='margin:0px;'>Profile</h1>
    <br/>
    <div class='circle' style='width:200px;height:200px;margin:10px auto;'>
        AVATAR
    </div>

    <h1 style='margin-top:20px;'>{{name}}</h1>
    <p style='text-emphasis:none;text-align:center;font-size:20px;margin:-10px;'>Username: {{username}}</p>
    <p style='text-emphasis:none;text-align:center;font-size:20px;margin:15px 0 0;'>Betting Lists</p>

    <input type='customize_button' onClick='window.location.href="/about";' value="Customize User Profile"/>
    <input type='setting_button' onClick='window.location.href="/about";' value="Settings"/>
    <input type='logout_button' onClick='window.location.href="/logout";' value="Log Out"/>
</div>

{% endblock %}

{% extends "layout.html" %}
{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>User: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
    <table>
        <tr valign="top">
            <td><img src="{{ post.author.avatar(36) }}"></td>
            <td>{{ post.author.username }} says:<br>{{ post.body }}</td>
        </tr>
    </table>
    {% endfor %}

{% endblock %}

{% extends "layout.html" %}
{% block content %}
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}

{% endblock %}
