{% extends "layout.html" %}
{%block content%}
<div class='scroller_box'>
    
    <h1><strong>Home</strong></h1>

    {% for id,user,body in data %}
    <button class="collapsible" style='text-align:left' onClick='window.location.href="/threads/{{id}}";'>
        <div class='circle' style='float:left;width:20%;font-size:18px;'>
            AVATAR
        </div>
        <div style='float:right;width:75%;word-wrap:break-word;font-size:20px;'>
            <h2 style='font-size:22px;margin-top:0;'>{{user}}</h2>
            <p style='font-weight:normal;'>{{body}}</p>
        </div>
    </button>
    {% endfor %}
    
</div>
{%endblock%}
