<!DOCTYPE html>
<html>
<head>
    <title>MoneyLine</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="icon" href="data:,">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

  <body>
    <div class='box'>
        <div class='scroller_box'>
            <h1>Thread</h1>
            <div class='circle' style='float:left;width:20%;font-size:18px;'>
                PROFILE
            </div>
            
            <div style='float:right;width:75%;word-wrap:break-word;font-size:20px;'>
                <h2 style='font-size:22px;margin-top:0;'>{{username}}</h2>
                <p style='font-weight:normal;'>{{bodytext}}</p>
            </div> 

            <div style='width:608px;height:400px;overflow:auto;position:relative;margin-left:-30px;margin-top:40px'>
                <table width='100%'>
                    <tbody>
                        {% for user,comment,date in data %}
                        <tr>
                            <td width='25%' class='comment_circle' style='font-size:18px;float:right;display:table-cell;vertical-align:middle;'></td>
                            <td width='75%' style='word-wrap:break-word;font-size:20px;'>
                                <ul style='float:left;margin-left:0;'>
                                    <li style='display:block;text-align:left;'><strong>{{user}}</strong></li>
                                    <li style='display:block;text-align:left;'>{{comment}}</li>
                                    <li style='display:block;text-align:left;font-size:15px;'>{{date}}</li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <form method="post" action="" style='position:absolute;bottom:0px;'>
            <input id="post" type="text" name="post" style="height:50px;width:549px;vertical-align:top;overflow:visible;font-size:20px;position:absolute;bottom:120px;background:#000000;"/>
            <p>{{message}}</p>
            <br>
            <ul style='columns:2;-webkit-columns:2;-moz-columns:2;list-style-type: none;'>
                <li style='display:block;'><input type="back" value="Cancel" onClick='window.location.href="/threads";' /></li>
                <li style='display:block;'><input type="submit" value="Submit" /></li>
            </ul>
        </form>
    </div>   
  </body>
  
</html>