{% extends "layout.html" %}
{%block content%}
<div class='scroller_box'>
    
    <h1><strong>Home</strong></h1>
    
    <button class="collapsible" style='text-align:left'>
        <div class='circle' style='float:left;width:20%'>
            AB
        </div>
        <div style='float:right;width:75%;word-wrap:break-word;font-size:20px;'>
            I think team ... is gonna win big today! Any objections?
        </div>
        <div style='float:right;height:30px;width:75%;position:absolute;bottom:30px;right:0'>
            <ul style='list-style-type:none;columns:3;'>
                <li><a><span class="fa fa-thumbs-up" style="font-size:20px"></span></a></li>
                <li><a><span class="fas fa-comment" style="font-size:20px"></span></a></li>
                <li><a><span class="fas fa-user-plus" style="font-size:20px"></span></a></li>
        </div>
    </button>
    <div class="content">
        <div style='float:left;width:20%'></div>
        <div style='float:right;width:75%'>        
            <p>Huge</p>
        </div>
    </div>

    <button class="collapsible" style='text-align:left'>
        <div class='circle' style='float:left;width:20%'>
            MD
        </div>
        <div style='float:right;width:75%;word-wrap:break-word;font-size:20px;'>
            How are your bets looking today?
        </div>
        <div style='float:right;height:30px;width:75%;position:absolute;bottom:30px;right:0'>
            <ul style='list-style-type:none;columns:3;'>
                <li><a><span class="fa fa-thumbs-up" style="font-size:20px"></span></a></li>
                <li><a><span class="fas fa-comment" style="font-size:20px"></span></a></li>
                <li><a><span class="fas fa-user-plus" style="font-size:20px"></span></a></li>
        </div>
    </button>
    <div class="content">
        <div style='float:left;width:20%'></div>
        <div style='float:right;width:75%'>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <button class="collapsible" style='text-align:left'>
        <div class='circle' style='float:left;width:20%'>
            LP
        </div>
        <div style='float:right;width:75%;word-wrap:break-word;font-size:20px;'>
            I'm Lost!
        </div>
        <div style='float:right;height:30px;width:75%;position:absolute;bottom:30px;right:0'>
            <ul style='list-style-type:none;columns:3;'>
                <li><a><span class="fa fa-thumbs-up" style="font-size:20px"></span></a></li>
                <li><a><span class="fas fa-comment" style="font-size:20px"></span></a></li>
                <li><a><span class="fas fa-user-plus" style="font-size:20px"></span></a></li>
        </div>
    </button>
    <div class="content">
        <div style='float:left;width:20%'></div>
        <div style='float:right;width:75%'>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <button class="collapsible" style='text-align:left'>
        <div class='circle' style='float:left;width:20%'>
            LP
        </div>
        <div style='float:right;width:75%;word-wrap: break-word;'>
            I'm Lost!
        </div>
        <div style='float:right;height:30px;width:75%;position:absolute;bottom:30px;right:0'>
            <ul style='list-style-type:none;columns:3;'>
                <li><a><span class="fa fa-thumbs-up" style="font-size:20px"></span></a></li>
                <li><a><span class="fas fa-comment" style="font-size:20px"></span></a></li>
                <li><a><span class="fas fa-user-plus" style="font-size:20px"></span></a></li>
        </div>
    </button>
    <div class="content">
        <div style='float:left;width:20%'></div>
        <div style='float:right;width:75%'>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>
{%endblock%}
